<% if call.created_at <= 1.day.ago %>
<tr id="call" class="call_danger" data-time="<%= call.created_at.to_i %>">
<% elsif call.created_at <= 8.hours.ago && call.created_at >= 1.day.ago %>
<tr id="call" class="call_warning" data-time="<%= call.created_at.to_i %>">
<% else %>
<tr id="call" data-time="<%= call.created_at.to_i %>">
<% end %>
    <% case call.service.priority %>
    <% when 1 %>
      <td class="danger_p">Urgente</td>
    <% when 2 %>
      <td class="warning_p">Alta</td>
    <% when 3 %>
      <td class="normal_p">Normal</td>
    <% when 4 %>
      <td class="low_p">Baixa</td>
    <% end %>
  <td><%= call.created_at.strftime "%d/%m %H:%M" %></td>
  <td>
    <% @dptos.each do |dpto| %>
      <%= dpto['name'] if call.dpto_id == dpto['id'] %>
    <% end %>
  </td>
  <td>
    <% @servants.each do |servant| %>
      <%= servant['name'] if call.servant_id == servant['id'] %>
    <% end %>
  </td>
  <td><%= call.service.service %></td>
  <td><%= truncate(strip_tags(raw(call.problem)), :length => 110, :omission => '...') %>
  </td>
  <td><%= link_to image_tag('details.png'), call, title: 'Detalhes'  %>       <%= link_to image_tag('close.png'), close_path(call), title: 'Fechar chamada' %></td>
</tr>