<% content_for :head do %>
  <%= tinymce_assets %>
  <%= stylesheet_link_tag  "jquery-ui-1.10.3.custom.min", media: "all", "data-turbolinks-track" => true %>
<% end %>


<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <% if @call.errors.count == 1%>
        <h3>Chamada não salva devido à algum erro, verifique-o abaixo:</h3>
      <% else %>
        <h3>Chamada não salva devido à algums erros, verifique-os abaixo:</h3>
      <% end %>

      <ul>
      <% @call.errors.each do |e, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <div class="servant">
      <label>Servidor</label><br>
      <%= text_field_tag :servant_name, '', autofocus: true, 'data-autocompleteUrl' => get_servants_calls_path, required: true %>
      <%= f.hidden_field :servant_id %>
    </div>
    <div class="dpto">
      <label>Departamento</label><br>
      <%= f.select(:dpto_id, @dptos.map {|d| [ d['name'], d['id'] ] }, {include_blank: 'Escolha seu departamento'}, required: true) %>
    </div>
    <div class="equipment">
      <label>Equipamento com problemas</label><br>
      <%= f.text_field :equipment, required: true %>
    </div>
    <div class="problem">
      <label>Descrição do problema</label><br>
      <%= f.text_area :problem, class: "tinymce", required: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Salvar chamada' %>
    </div>
<% end %>

<% content_for :footer do %>
  <%= tinymce %>
  <script>
    $(function() {
      return $('#servant_name').autocomplete({
        minLength: 2,
        select: function( event, ui ) {
          $('#call_servant_id').val(ui.item.id);
          $('#servant_name').attr('readonly', true);
        },
        source: function(request, response) {
          return $.ajax({
            url: $('#servant_name').data('autocompleteurl'),
            data: {
              servant: request.term
            },
            success: function(data) {
              return response(data);
            }
          });
        }
      });
    });

    $('#servant_name').click(function() {
      $(this).removeAttr("readonly");
    });
    $('#servant_name').focus(function() {
      $(this).removeAttr("readonly");
    });
  </script>
<% end %>