<h2>Chamadas em aberto</h2>
<table>
  <thead>
    <tr>
      <th>Data/Hora</th>
      <th>Departamento</th>
      <th>Servidor</th>
      <th>Equipamento</th>
      <th>Problema</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.updated_at.strftime "%d/%m %H:%M" %></td>
        <td>
          <% @dptos.each do |dpto| %>
            <%= dpto['name'] if call.dpto_id == dpto['id'] %>
          <% end %>
        </td>
        <td>
          <% @servants.each do |servant| %>
            <%= servant['name'] if call.servant_id == servant['id'] %>
          <% end %>
        </td>
        <td><%= call.equipment %></td>
        <td><%= truncate(strip_tags(raw(call.problem)), :length => 110, :omission => '...') %>
        </td>
        <td><%= link_to image_tag('details2.png'), call, title: 'Detalhes'  %>       <%= link_to image_tag('close.png'), close_path(call), title: 'Fechar chamada' %></td>
      </tr>
    <% end %>
  </tbody>
</table>