<p id="notice"><%= notice %></p>

<div class="left_content">
  <p>
    <h3>Departamento:</h3>
    <% @dptos.each do |dpto| %>
      <%= dpto['name'] if @call.dpto_id == dpto['id'] %>
    <% end %>
  </p>

  <p>
    <h3>Servidor:</h3>
    <% @servants.each do |servant| %>
      <%= servant['name'] if @call.servant_id == servant['id'] %>
    <% end %>
  </p>

  <p>
    <h3>Equipamento:</h3>
    <%= @call.equipment %>
  </p>
</div>
<div class="right_content">
  <div class="info">
  <p>
    <h3>Problema:</h3>
    <%= @call.problem.html_safe %>
  </p>
  </div>
</div>

<div class="actions">
  <%= link_to 'Fechar chamada', close_path(@call) %>
</div>