<p id="notice"><%= notice %></p>

<p>
  <strong>Dpto:</strong>
  <%= @call.dpto_id %>
</p>

<p>
  <strong>Servant:</strong>
  <%= @call.servant_id %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @call.equipment %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @call.problem %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
