<h2>Técnicos</h2>

<table class="tbdata tbtechnical">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Usuário</th>
      <th>Administrador?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @technicals.each do |technical| %>
      <tr>
        <td><%= technical.name %></td>
        <td><%= technical.nickname %></td>
        <td><%= technical.admin ? "Sim" : "Não" %></td>
        <td><%= link_to image_tag('details.png'), technical, title: "Detalhes" %>
        <%= link_to image_tag('edit.png'), edit_technical_path(technical), title: "Editar" %>
        <%= link_to image_tag('remove.png'), technical, method: :delete, data: { confirm: 'Deseja REMOVER este técnico?' }, title: "Remover" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
  <%= link_to 'Novo Técnico', new_technical_path %>
</div>
