<h2>Detalhes de <%= @technical.name %> (<%= @technical.nickname %>)</h2>

<h3>Chamadas fechadas:</h3>

<table>
  <thead>
    <tr>
      <th>Data/Hora</th>
      <th>Departamento</th>
      <th>Equipamento</th>
      <th>Problema</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.updated_at.strftime "%d/%m %H:%M" %></td>
        <td>
          <% @dptos.each do |dpto| %>
            <%= dpto['name'] if call.dpto_id == dpto['id'] %>
          <% end %>
        </td>
        <td><%= call.equipment %></td>
        <td><%= truncate(strip_tags(raw(call.problem)), :length => 110, :omission => '...') %>
        </td>
        <td><%= link_to image_tag('details.png'), call, title: 'Detalhes da chamada'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="actions">
<%= link_to 'Editar', edit_technical_path(@technical) %>
</div>