<!DOCTYPE html>
<html>
<head>
  <title>ATS/SACHA - Sistema de Abertura de Chamadas de Suporte</title>
  <%= stylesheet_link_tag    "application", "misc", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>

<div id="wrapper">
  <% unless notice.blank? %>
    <script>$(document).ready(function(){$('.notice').hide().slideDown().delay(5000).slideUp();});</script>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <header>
      <div class="container">
        <div class="logo"><%= link_to image_tag('logo_small.png'), root_path %></div>
        <p>Sistema de Chamadas</p>

        <nav>
          <li><%= link_to "Chamadas", calls_path %></li>
          <% if admin? %>
          <li><%= link_to "Técnicos", technicals_path %></li>
          <% end %>
          <li><%= link_to "Relatórios", calls_path %></li>
        </nav>

        <% if logged_in? %>
          <%= link_to image_tag('logout.png')+' Sair', logout_path, :class => "logout" %>
        <% end %>
      </div>
    </header>

    <div id="main_content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <p>Desenvolvido por <a href="http://jrochelly.com">Jakson Rochelly</a> | Agência Tocantinense de Saneamento | Diretoria de TI</p>
      </div>
    </footer>
</div>
<%= content_for :footer %>
</body>
</html>